<ion-header [translucent]="true">
 
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button  class="xxx ddd"  (click) = "logout()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div id="container">
    <strong>Welcome {{mobile}}</strong>
    
  </div>
</ion-content>
